{
  "presets": ["es2015", "stage-0", "react"],
  "ignore":[
        "jquery.js",
        "jquery.min.js",
        "bootstrap.js",
        "bootstrap.min.js",
        "antd-with-locales.js",
        "antd-with-locales.min.js",
        "react.js",
        "react.min.js",
        "react-with-addons.js",
        "react-with-addons.min.js",
        "react-dom.js",
        "react-dom.min.js",
        "react-dom-server.js",
        "react-dom-server.min.js",
        "reactstrap.js",
        "reactstrap.min.js",
        "reflux.js",
        "reflux.min.js",
        "antd.js",
        "antd.min.js"
  ]

}
